<!doctype html>
<title>Capstone</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script type="text/javascript"
   src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript"
   src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
<div class=page>
  <img alt='logo' src="{{ url_for('static', filename='logo.jpg') }}" />
  <div class=metanav>
  <!--{% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}-->
<ul>
  <li><a href="#">Home</a></li>
  <li><a href="#">Mail</a></li>
  <li><a href="#">Classes</a></li>
</ul>
<hr />
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
