<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title></title>
<script type="text/javascript"
   src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript"
   src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
<script type="text/javascript">
   $(document).ready(function() {

       $("#sidebar li").prepend("<span></span>"); //Throws an empty span tag right before the a tag

       $("#sidebar li").each(function() { //For each list item...
	   var linkText = $(this).find("a").html(); //Find the text inside of the <a> tag
	   $(this).find("span").show().html(linkText); //Add the text in the <span> tag
	 }); 

       $("#sidebar li").hover(function() {//On hover...
	   $(this).find("span").stop().animate({
	     marginTop: "-40" //Find the <span> tag and move it up 40 pixels
		 }, 250);
	 } , function() { //On hover out...
	   $(this).find("span").stop().animate({
	     marginTop: "0"  //Move the <span> back to its original state (0px)
		 }, 250);
	 });

     });
</script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div id="wrap">
    <div id="header"><h1>Papa Bear</h1></div>
    <div id="nav">
    <ul>
    <li><a href="#">login</a></li>
    <li><a href="#">email</a></li>
    </ul>
    </div>
    <div id="main">
    <h2>Howdy Pardner!</h2>
    <p>Welcome to PapaBear. Do many awesome things here</p>
    </div>
    <div id="sidebar">
    <h2>Useful Things</h2>
    <p>check 'em</p>
    <ul id="sidebar">
      <li class="sidebar"><a href="#">Attendance</a></li>
      <li class="sidebar"><a href="#">Assignments</a></li>
      <li class="sidebar"><a href="#">Tests & Quizzes</a></li>
    </ul>
    </div>
    <div id="footer">
    <p>Capstone 2011</p>
    </div>
    </div>
</body> </html>
